<h1>Lockdown Capitalist</h1>
<p>Version {{version}}</p>
<p>By Marquii</p>
<p>Released during <a href="https://itch.io/jam/triple-trijam-2020">Triple Trijam 2020</a></p>
<h1>How to play</h1>
<p>The objective to the game is up to you. We provide with a simulator of an epidemic in a city.</p>
<p>The game will end if all infections are discharged, or if all the population is infected.</p>
<h1>Disclaimer</h1>
<p>This game is inspired by the 2019-2020 SARS-CoV-2 epidemic, but it's not a reallistic recreation of it.</p>
<p>This is intended for entertainment purposes and the simulations in this game are not based in scientific
  research.</p>
<p>We take no responsiblity on simulations run within this game.</p>
<p>We respect all the victims of this pandemic, for which we wanted to show support by making a game that shows how
  economics and politics can impact negatively on the evolution of a pandemic.</p>
<p>By playing Lockdown Capitalist, you agree with the terms of <a href="https://opensource.org/licenses/BSD-3-Clause">BSD
  3 clause License</a>.</p>
<p>This game is better seen in 1920x1080 resolutions.</p>
<h2>Do you agree with these?</h2>
<button (click)="onPlayClicked()" color="primary" mat-raised-button>Yes, let's play!</button>

