<h1>Lockdown Capitalist</h1>
<p>Version {{version}}</p>
<p>By Marc Sances</p>
<h1>Disclaimer</h1>
<p>This game is inspired by the 2019-2020 SARS-CoV-2 epidemic, but it's not a reallistic recreation of it.</p>
<p>This is intended for entertainment purposes and the simulations in this game are not based in scientific research.</p>
<p>We take no responsiblity on simulations run within this game.</p>
<h2>Do you agree with these?</h2>
<button mat-button (click)="onPlayClicked()">Yes, let's play!</button>
